.profilepage {
    background-image: url("/public/profile.jpeg");
}
.userIn {
    border: 2px solid green;
    border-radius: 6px;
}
.label {
    font-weight: bold;
    display: block;
}
.profile-picture{
    margin-top: 20px;
    margin-bottom: 20px;
}